.listItem {
    cursor: pointer;
    transition: background-color 0.3s; /* Add a transition for a smooth hover effect */
}

.listItem:hover {
    background-color: rgba(25, 118, 210, 0.08); /* Change the background color on hover */
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}